.WinePage__Actions {
    margin-top: 2em;
}

.WinePage__Link {
    display: flex;
    flex-direction: row;
    align-items: center;

    color: black;

    font-size: 18px;
    font-weight: 600;
    line-height: 22px;

    text-transform: uppercase;
    text-decoration: none;
}

.WinePage__Link:hover {
    color: #690B0B;
}